
<div class="container mx-auto px-5 py-2 lg:px-32 mb-4">
    <div class="flex flex-wrap justify-center text-center">
        <div class="w-full lg:w-6/12 px-4 mb-6 mt-2">
            <h2 class="text-2xl font-semibold  text-[#828282] font-['Quicksand']">Gallery</h2>

        </div>
    </div>
    <div class="-m-1 flex flex-wrap md:-m-2">
        <div class="flex w-1/2 flex-wrap">
            <div class="w-1/2 p-1 md:p-2">
                <img alt="gallery" class="block h-full w-full rounded-lg object-cover object-center"
                    src="assets/img/luis.jpeg" />
            </div>
            <div class="w-1/2 p-1 md:p-2">
                <img alt="gallery" class="block h-full w-full rounded-lg object-cover object-center"
                    src="https://scontent.fmnl4-1.fna.fbcdn.net/v/t1.15752-9/357615335_582500417122871_84984456724403307_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeFMlOgXBPZauX1u7r7-CnmnHGYIoZbIShccZgihlshKFw9K2XSA3C3VXJ6-dW27hQxVBeY39OJBaj2s8HdRhzcP&_nc_ohc=IUZZs3tXVc4AX_Yti12&_nc_ht=scontent.fmnl4-1.fna&oh=03_AdQ2f4gCl0wJmlBzQGS3GpajnitSExQy6223cUe-g2N3gg&oe=64E7EDCB" />
            </div>
            <div class="w-full p-1 md:p-2">
                <img alt="gallery" class="block h-full w-full rounded-lg object-cover object-center"
                    src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp" />
            </div>
        </div>
        <div class="flex w-1/2 flex-wrap">
            <div class="w-full p-1 md:p-2">
                <img alt="gallery" class="block h-full w-full rounded-lg object-cover object-center"
                    src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(74).webp" />
            </div>
            <div class="w-1/2 p-1 md:p-2">
                <img alt="gallery" class="block h-full w-full rounded-lg object-cover object-center"
                    src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(75).webp" />
            </div>
            <div class="w-1/2 p-1 md:p-2">
                <img alt="gallery" class="block h-full w-full rounded-lg object-cover object-center"
                    src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(77).webp" />
            </div>
        </div>
    </div>
</div>