<div class id="carouselExampleCaptions" class="relative h-[80vh]" data-te-carousel-init data-te-carousel-slide>
    <!--Carousel indicators-->
    <div class="absolute bottom-0 left-0 right-0 z-[2] mx-[15%] mb-4 flex list-none justify-center p-0"
        data-te-carousel-indicators>
        <button type="button" data-te-target="#carouselExampleCaptions" data-te-slide-to="0" data-te-carousel-active
            class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-white bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-te-target="#carouselExampleCaptions" data-te-slide-to="1"
            class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-white bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
            aria-label="Slide 2"></button>
        <button type="button" data-te-target="#carouselExampleCaptions" data-te-slide-to="2"
            class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-white bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
            aria-label="Slide 3"></button>
        <button type="button" data-te-target="#carouselExampleCaptions" data-te-slide-to="3"
            class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-white bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
            aria-label="Slide 2"></button>
        <button type="button" data-te-target="#carouselExampleCaptions" data-te-slide-to="4"
            class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-white bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
            aria-label="Slide 3"></button>
    </div>

    <!--Carousel items-->
    <div class="relative w-full overflow-hidden after:clear-both after:block after:content-[''] h-full">
        <!--First item-->
        <div class="relative float-left -mr-[100%] w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
            data-te-carousel-active data-te-carousel-item style="backface-visibility: hidden">
            <img src="https://images.squarespace-cdn.com/content/v1/569fb1fccbced6e361e09b11/1669678194915-1SKOTN97T3871MXKATCO/2022-EmmaRose-Gabriel-1094.jpg?format=2500w"
                class="block w-full object-none object-bottom" alt="..." />
            <!-- <div class="absolute inset-x-[15%] bottom-5 hidden py-5 text-center text-white md:block">
                <h5 class="text-xl">First slide label</h5>
                <p>
                    Some representative placeholder content for the first slide.
                </p>
            </div> -->
        </div>
        <!--Second item-->
        <div class="relative float-left -mr-[100%] hidden w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
            data-te-carousel-item style="backface-visibility: hidden">
            <img src="https://images.pexels.com/photos/2253870/pexels-photo-2253870.jpeg?auto=compress&cs=tinysrgb&w=1600"
                class="block w-full h-250px object-center" alt="..." />
            <!-- <div class="absolute inset-x-[15%] bottom-5 hidden py-5 text-center text-white md:block">
                <h5 class="text-xl">Second slide label</h5>
                <p>
                    Some representative placeholder content for the second slide.
                </p>
            </div> -->
        </div>
        <!--Third item-->
        <div class="relative float-left -mr-[100%] hidden w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
            data-te-carousel-item style="backface-visibility: hidden">
            <img src="https://labellefeteweddings.com/wp-content/uploads/2022/03/labelle-fete-adarna-ramsay-home.jpg"
                class="block w-full object-center" alt="..." />
            <!-- <div class="absolute inset-x-[15%] bottom-5 hidden py-5 text-center text-white md:block">
                <h5 class="text-xl">Third slide label</h5>
                <p>
                    Some representative placeholder content for the third slide.
                </p>
            </div> -->
        </div>
        <!--Third item-->
        <div class="relative float-left -mr-[100%] hidden w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
            data-te-carousel-item style="backface-visibility: hidden">
            <img src="https://labellefeteweddings.com/wp-content/uploads/2020/03/LBF-home-hero6-opt.jpg"
                class="block w-full object-center" alt="..." />
            <!-- <div class="absolute inset-x-[15%] bottom-5 hidden py-5 text-center text-white md:block">
             <h5 class="text-xl">Third slide label</h5>
             <p>
                 Some representative placeholder content for the third slide.
             </p>
         </div> -->
        </div>
        <!--Third item-->
        <div class="relative float-left -mr-[100%] hidden w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
            data-te-carousel-item style="backface-visibility: hidden">
            <img src="https://images.pexels.com/photos/3397026/pexels-photo-3397026.jpeg?auto=compress&cs=tinysrgb&w=1600"
                class="block w-full h-250px object-center" alt="..." />
            <!-- <div class="absolute inset-x-[15%] bottom-5 hidden py-5 text-center text-white md:block">
            <h5 class="text-xl">Second slide label</h5>
            <p>
                Some representative placeholder content for the second slide.
            </p>
        </div> -->
        </div>
    </div>

    <!--Carousel controls - prev item-->
    <button
        class="absolute bottom-0 left-0 top-0 z-[1] flex w-[15%] items-center justify-center border-0 bg-none p-0 text-center text-white opacity-50 transition-opacity duration-150 ease-[cubic-bezier(0.25,0.1,0.25,1.0)] hover:text-white hover:no-underline hover:opacity-90 hover:outline-none focus:text-white focus:no-underline focus:opacity-90 focus:outline-none motion-reduce:transition-none"
        type="button" data-te-target="#carouselExampleCaptions" data-te-slide="prev">
        <span class="inline-block h-8 w-8">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="h-6 w-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
            </svg>
        </span>
        <span
            class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]">Previous</span>
    </button>
    <!--Carousel controls - next item-->
    <button
        class="absolute bottom-0 right-0 top-0 z-[1] flex w-[15%] items-center justify-center border-0 bg-none p-0 text-center text-white opacity-50 transition-opacity duration-150 ease-[cubic-bezier(0.25,0.1,0.25,1.0)] hover:text-white hover:no-underline hover:opacity-90 hover:outline-none focus:text-white focus:no-underline focus:opacity-90 focus:outline-none motion-reduce:transition-none"
        type="button" data-te-target="#carouselExampleCaptions" data-te-slide="next">
        <span class="inline-block h-8 w-8">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="h-6 w-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
            </svg>
        </span>
        <span
            class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]">Next</span>
    </button>
</div>
<!-- component -->
<div class="pt-48">
    <h1 class="relative bottom-28 text-center text-3xl font-['PP_Fragment']">Gallery</h1>
    <section class=" bg-white flex flex-col justify-center ">
        <div class="grid grid-cols-2 gap-10 max-w-6xl mx-auto">
            <div class="-mt-20 flex justify-end">
                <img class="w-2/3 h-2/3 object-cover  overflow-hidden"
                    src="https://images.squarespace-cdn.com/content/v1/569fb1fccbced6e361e09b11/758b45bb-e79c-4e9b-b954-6a2808965060/Kellie+Salazar+%26+Marc+Lippman%2C+10.9.21%2C+Private+Estate%2C+Amanda+K+Photography+%283%29.jpg?format=500w" />
            </div>
            <div class="flex justify-start">
                <img class=" object-cover overflow-hidden"
                    src="https://images.squarespace-cdn.com/content/v1/569fb1fccbced6e361e09b11/eef224ba-b565-4efd-ab26-8c97481d053c/Kate+Madden+%2B+Kyle+Hypes%2C+Amanda+K+Photography%2C+5-22-21.jpg?format=500w" />
            </div>
            <div class="-mt-64 flex justify-start">
                <img class=" object-cover overflow-hidden"
                    src="https://images.squarespace-cdn.com/content/v1/569fb1fccbced6e361e09b11/1578429532087-OS5TJQISB0TIYGQ7D4P0/Bridalbliss.com+%7C+Portland+Seattle+Bend+Wedding+Planner+%7C+Oregon+Washington+Event+Design+%7C+O%27Malley+Photographers?format=750w" />
            </div>
            <div class="flex justify-start -mr-28 ml-28">
                <img class="w-2/3 h-2/3 object-cover  overflow-hidden"
                    src="https://images.squarespace-cdn.com/content/v1/569fb1fccbced6e361e09b11/1688348244678-PJSQATAUXD8OKN8AHBFQ/image-asset.jpeg?format=500w" />
            </div>
            <div class="-translate-y-96 transform ml-28 -mr-28 p-16 shadow-xl  overflow-hidden bg-white">
                <div class="space-y-4 font-['PP_Fragment']">
                    <p class="text-xl font-bold text-[#01452C] tracking-tight font-['Lato'] ">
                        CONCEPT. CURATION. PLANNING. COORDINATION
                    </p>
                    <p class="text-xl text-black">
                        As we have done numerous local and destination events as well as big bridal fairs, event
                        planning is
                        indeed our cup of tea. From dreaming up a theme and color palette to recommending suppliers,
                        booking
                        them, meeting and liaising with them down to the most diminutive details, we take care of these
                        steps while assuring every client that they will have a stress-free preparation and a refined
                        celebration.
                    </p>
                </div>

            </div>
        </div>
    </section>
</div>

<!-- Parallax effect -->
<div class="mx-auto h-80 w-full bg-cover bg-fixed bg-center bg-no-repeat shadow-lg object-contain"
    style="background-image:url('https://images.squarespace-cdn.com/content/v1/569fb1fccbced6e361e09b11/1673384847867-7945IWR7CSHAUU3TQOD1/2-25+The+Portland+Studio-0004+Ashley+Cook+Photography.jpg?format=2500w');">
    <div class="px-6 py-32 text-center text-neutral-800 dark:bg-neutral-700 dark:text-neutral-200">

        <a class="inline-block  bg-[#aec3c9] px-6 pb-2 pt-2.5 text-xl font-medium tracking-wider leading-normal font-['PP_Fragment'] text-white"
            data-te-ripple-init data-te-ripple-color="light" href="#!" role="button">Contact us</a>
    </div>
</div>


<!-- Services -->
<div class="mt-16">
    <h1 class="text-center text-3xl font-['PP_Fragment']">Services</h1>
    <section class="container mx-auto p-10 md:p-20 transform duration-500 grid grid-cols-2">
        <section class="mx-auto max-w-xl">
            <img class="w-full h-[370px]"
                src="https://labellefeteweddings.com/wp-content/uploads/2019/09/Eternite-Package.jpg" alt="" />
            <div class="pt-4 my-auto pb-10 ">
                <h1 class="text-2xl font-semibold text-gray-800 font-['Milyuna']">ETERNITE</h1>
                <p class="text-base text-black mt-2 font-['Lato'] tracking-wider py-2">
                    Eternite is a French word meaning eternity or forever. As part of our initiative to focus on our
                    niche i.e. wedding “planning”, this package aims to give every couple a HAPPILY EVER AFTER.
                </p>
                <div class="mt-3">
                    <a class="inline-block  bg-[#E8AAAD] px-6 pb-2 pt-2.5 text-xl font-medium tracking-wider leading-normal font-['PP_Fragment'] text-white"
                        data-te-ripple-init data-te-ripple-color="light" href="#!" role="button"> Inquiry rates</a>
                </div>
            </div>
        </section>
        <section class="mx-auto max-w-xl">
            <img class="w-full h-[370px]" src="https://labellefeteweddings.com/wp-content/uploads/2019/09/fleurir.jpg"
                alt="" />
            <div class="pt-4 my-auto pb-10 ">
                <h1 class="text-2xl font-semibold text-gray-800 font-['Milyuna']">FLEURIR</h1>
                <p class="text-base text-black mt-2 font-['Lato'] tracking-wider py-2">
                    Fleurir is a French word meaning to bloom or blossom. As part of our initiative to focus on our
                    niche i.e. event “planning”, this package aims to give every girl a beautiful fete for her coming of
                    age.
                </p>
                <div class="mt-3">
                    <a class="inline-block  bg-[#E8AAAD] px-6 pb-2 pt-2.5 text-xl font-medium tracking-wider leading-normal font-['PP_Fragment'] text-white"
                        data-te-ripple-init data-te-ripple-color="light" href="#!" role="button"> Inquiry rates</a>
                </div>
            </div>
        </section>
        <section class="mx-auto max-w-xl">
            <img class="w-full h-[370px]"
                src="https://labellefeteweddings.com/wp-content/uploads/2022/05/Davids-1st-bday-1024x682.jpg" alt="" />
            <div class="pt-4 my-auto pb-10 ">
                <h1 class="text-2xl font-semibold text-gray-800 font-['Milyuna']">BON BEBE</h1>
                <p class="text-base text-black mt-2 font-['Lato'] tracking-wider py-2">
                    Bon Bebe is the kiddie party arm of La Belle Fete. Bon Bebe has two packages, BIEN and STELLAIRE.
                    Known as game changers in the industry, La Belle Fete also caters to clients who want production and
                    direction for their fetes.
                </p>
                <div class="mt-3">
                    <a class="inline-block  bg-[#E8AAAD] px-6 pb-2 pt-2.5 text-xl font-medium tracking-wider leading-normal font-['PP_Fragment'] text-white"
                        data-te-ripple-init data-te-ripple-color="light" href="#!" role="button"> Inquiry rates</a>
                </div>
            </div>
        </section>
        <section class="mx-auto max-w-xl">
            <img class="w-full h-[370px]"
                src="https://labellefeteweddings.com/wp-content/uploads/2022/03/Barbie_s-Birthday-Shoot12-683x1024.jpg"
                alt="" />
            <div class="pt-4 my-auto pb-10 ">
                <h1 class="text-2xl font-semibold text-gray-800 font-['Milyuna']">VIE</h1>
                <p class="text-base text-black mt-2 font-['Lato'] tracking-wider py-2">
                    Vie is a French word means life. As part of our initiative to focus on our niche i.e. event
                    “planning”, this package aims celebrate life’s milestones beautifully – from baby and bridal
                    showers, parents’ birthday party to anniversary party.
                </p>
                <div class="mt-3">
                    <a class="inline-block  bg-[#E8AAAD] px-6 pb-2 pt-2.5 text-xl font-medium tracking-wider leading-normal font-['PP_Fragment'] text-white"
                        data-te-ripple-init data-te-ripple-color="light" href="#!" role="button"> Inquiry rates</a>
                </div>
            </div>
        </section>

    </section>
</div>

<div class="pb-10">
    <div class="container flex flex-col justify-center mx-auto items-center space-y-4 font-['PP_Fragment']">
        <img src="assets/img/2.png" alt="">
        <h1>Of happy ever after, stylish parties and exceptionally beautiful fetes…
            </h1>
            <h1>CONCEPT. CURATION. PLANNING. COORDINATION</h1>
    </div>
</div>